/target
/dynamics-cli/target
/dynamics-lib-macros/target
.env
.direnv
CLAUDE.md
config.toml
temp
TODO.md
dynamics-cli.log
continue.md
AGENTS.md
claude.general.md
claude.migration.md
claude.deadlines.md
Deadlines.xlsx
claude.api.md
config-bak.toml
claude.tui.md
