/target
/dynamics-cli/target
/dynamics-lib-macros/target
.env
.direnv
CLAUDE.md
config.toml
temp
TODO.md
dynamics-cli.log
continue.md
AGENTS.md
*_to_*_*.xlsx
Deadlines.xlsx
config-bak.toml
claude.*.md
dynamics-cli/src/tui/apps/cleanup/todo.md
Mappings.zip
